body{
  background: url("../img/fundo1.png") fixed no-repeat center black;
  font-family: Arial, sans-serif;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  font-family: Arial, sans-serif;
}
html,body,.sections{
  
}

h2{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;  
}

h3{
  color: #05C4EA;
} 

hr{
  color: white;
  background-color: white;
  height: 1px;  
}

/*================================Alinhamento das Sections e Conteudos==================================*/

.sections{
  display: table;
  width: 100%;  
  padding-top: 100px; 
  padding-bottom: 100px;
  transition: 1s;  
}

.salign{
  display: table-cell;
  vertical-align: middle;
}


/*===========================================IDs Sections===============================================*/

#sobre{
  background: rgba(0,0,0,0.4);
  color: white; 
}


#formacao{
	background: rgba(0,0,0,0.9);
	color: white;
}

#skills{
	background: rgba(0,0,0,0.4); 
	color: white;
}

#jobs{
	background: rgba(0,0,0,0.9);
	color: white;  
}

#contato{
	background: rgba(0,0,0,0.4);
	color: white;
}

#footer{
	background: rgba(0,0,0,0.9);; 
	color: orange;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	font-size: 0.8em;
}

/*=================================================Classes==============================================*/

.avatar{
  margin-top: 50px;
  max-height: 420px;
}

.card{
  margin: 0 auto;
  float: none; 
  margin-bottom: 20px; 
  width: 15rem; 
  color: black; 
}

.jobscard{
  width: 200px;
  margin-top: 10px;    
}

.shadowtext{
  text-shadow: 2px 2px 1px black;  
}

.logocolor{
	color: orange;
  opacity: 0.5;
}

.ficons{
  opacity: 0.9;
}

.clinks{
  width: 80px;
  margin-bottom: 30px;
  margin-right: 10px;
}


/*============================================Customizar navbar===========================================*/

.navbar, .navbar-brand, .nav-link, .navbar-nav{
  transition: all 0.5s ease;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

nav {
  background-color: rgba(0,0,0,0.5);    
}

.navbar-brand {
  color: white;
  font-size: 30px;  
}

.nav-link {
  color: white;
  margin-left: 10px;
  font-size: 20px; 
}

.nav-link:hover {
  color: white;
  text-shadow: 0px 0px 10px orange;
}

/*NavBar Effect*/

.shrink{
  background-color: rgba(0,0,0,0.2); 
  min-height: 10px;  
  padding-top: 0px;
  padding-bottom: 0px;       
}

.shrink .navbar-brand {
  color: white;
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;  
}

.shrink .nav-link {
  color: white;
  margin-left: 10px;
  font-size: 14px; 
  padding-top: 0px;
  padding-bottom: 0px;
}

.shrink .nav-link:hover {
  color: white;
  text-shadow: 0px 0px 10px orange;
  font-size: 20px; 
}

.shrink .navbar-toggler-icon{
  height: 15px;
  position: relative;
  bottom: 4px; 
  padding-top: 0px;
  padding-bottom: 0px;
}

.shrink .navbar-toggler{
  height: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
}









/*================================================Animações==============================================*/

@-webkit-keyframes movimento-lr {
   from {
      left: -500px;
      opacity: 0;
   }
   
   to {
      left: 0px;
      opacity: 1;
   }
}

.animlr {
   -webkit-animation-name: movimento-lr;
   -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: 1;
   position: relative; 
}

@-webkit-keyframes movimento-rl {
   from {
      right: -500px;
      opacity: 0;
   }
   
   to {
      right: 0px;
      opacity: 1;
   }
}

.animrl {
   -webkit-animation-name: movimento-rl;
   -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: 1;
   position: relative; 
}

@-webkit-keyframes opacidade {
   from {
      opacity: 0;
   }
   
   to {
      opacity: 1;
   }
}

.opacidade {
   -webkit-animation-name: opacidade;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: 1;
   position: relative; 
}


/*==========================================Fontes e imagens==============================================*/

/*Telas grandes*/
@media only screen and (min-width : 1380px){ 
  h1{
    font-size: 3.1em;   
  }
  h2{
    font-size: 2.1em;    
  }
  h3{
    font-size: 1.7em;
  }
  h4{
    font-size: 1.6em;
  }
  p{
    font-size: 1.3em;    
  }

  .ficons{
    max-height: 160px;
    margin-bottom: 50px;
  }

  .sicons{
	  margin-top: 20px;
	  margin-bottom: 30px;
	  margin-left: 40px;
	  margin-right: 40px;
	  width: 130px;
	}  
}

/*telas mais comuns*/
@media only screen and (min-width : 1008px) and (max-width : 1379px){
  h1{
    font-size: 2.9em;   
  }
  h2{
    font-size: 1.9em;
  }
  h3{
    font-size: 1.5em;
  }
  h4{
    font-size: 1.4em;
  }
  p{
    font-size: 1.1em;    
  }

  .ficons{
    max-height: 100px;
    margin-bottom: 30px;
  }

  .sicons{
  	margin-top: 10px;
  	margin-bottom: 30px;
  	margin-left: 20px;
  	margin-right: 20px;
  	width: 100px;
	}
}

/*tablet size*/
@media only screen and (min-width : 770px) and (max-width : 1007px){
  h1{
    font-size: 2.5em;   
  }
  h2{
    font-size: 1.5em;
  }
  h3{
    font-size: 1.2em;
  }
  h4{
    font-size: 1.1em;
  }
  p{
    font-size: 1em;    
  }

  
  .ficons{
    max-height: 80px;
    margin-bottom: 30px;
  }

  .sicons{
  	margin-top: 15px;
  	margin-bottom: 30px;
  	margin-left: 20px;
  	margin-right: 25px;
  	width: 80px;
	}
}

/*small tablet size*/
@media only screen and (min-width : 641px) and (max-width : 769px){
  h1{
    font-size: 2.4em;   
  }
  h2{
    font-size: 1.4em;
  }
  h3{
    font-size: 1.2em;
  }
  h4{
    font-size: 1.1em;
  }
  p{
    font-size: 1em;    
  }

  .ficons{
    max-height: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .sicons{
    margin-top: 15px;
  	margin-bottom: 15px;
  	margin-left: 15px;
  	margin-right: 20px;
  	width: 80px;
	}
}

/*smart size*/
@media only screen and (max-width : 640px){
  h1{
    font-size: 2.15em;   
  }
  h2{
    font-size: 1.25em;
  }
  h3{
    font-size: 1.1em;
  }
  h4{
    font-size: 1.05em;
  }
  p{
    font-size: 0.95em;    
  }
 
  body{
    background-attachment: none;
  }

  .navbar-toggler-icon{
  	width: 20px;
  }

  .navbar-custom .navbar-brand {
  	color: white;
  	font-size: 20px;
	}

  .ficons{
    height: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .sicons{
  	margin-top: 15px;
  	margin-bottom: 15px;
  	margin-left: 15px;
  	margin-right: 20px;
  	width: 80px;
	}

  .shadowtext{
    text-shadow: 1px 1px 1px black;  
  }
}
