body{
  background: #563d7c;
}

p{
  opacity: 0.9; 
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
}

/*IDs*/

#sobre{
	background: linear-gradient(to right, #3b2a55, #533b78, #3b2a55); 
	color: white; 
  opacity: ; 
}

#formacao{
	background: linear-gradient(to right, #ffff80, #ffffb3, #ffff80); 
	color: #000000;
}

#skills{
	background: linear-gradient(to right, #1fc7a5, #6EE8D0, #1fc7a5); 
	color: black;
}

#jobs{
	background: linear-gradient(to right, #e07638, #E89A6E, #e07638); 
	color: #000000;  
}

#contato{
	background: linear-gradient(to right, #33adff, #80ccff, #33adff); 
	color: #000000;
}

#footer{
	background: white; 
	color: black;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	font-size: 1em;
}

/*Classes*/

.card {
  margin: 0 auto;
  float: none; 
  margin-bottom: 20px; 
}

.jobscard{
  width: 200px;
  margin-top: 10px;    
}

.shadowtext{
  text-shadow: 2px 2px 1px black;  
}

.aavatar{
	text-align: right;
	padding-top: 80px;
}

.logocolor{
	color: grey;
}

.ficons{
  opacity: 0.9;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*Customize navbar*/

.navbar-custom {
  background-color: #000000;
  opacity: 0.6;
  font-family: Arial, Helvetica, sans-serif;
}

/* change the brand and text color */
.navbar-custom .navbar-brand {
  color: white;
  font-size: 30px;
}

.navbar-custom .navbar-brand:hover {
  color: white;
}

.navbar-custom .navbar-brand:visited {
  color: white;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: white;
  margin-left: 10px;
  font-size: 20px;
}

/* change the color of active or hovered links */
.navbar-custom .navbar-nav .nav-link:hover {
  color: white;
  text-shadow: 0px 0px 10px white;
}

.navbar-custom .navbar-nav .nav-link:active {
  color: white;  
}

.navbar-custom .navbar-nav .nav-link:visited {
  color: white;  
}

/*Animações*/

@-webkit-keyframes movimento-lr {
   from {
      left: -500px;
      opacity: 0;
   }
   
   to {
      left: 0px;
      opacity: 1;
   }
}

#animlr {
   -webkit-animation-name: movimento-lr;
   -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: 1;
   position: relative; 
}

@-webkit-keyframes movimento-rl {
   from {
      right: -500px;
      opacity: 0;
   }
   
   to {
      right: 0px;
      opacity: 1;
   }
}

#animrl {
   -webkit-animation-name: movimento-rl;
   -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: 1;
   position: relative; 
}

@-webkit-keyframes opacidade {
   from {
      opacity: 0;
   }
   
   to {
      opacity: 1;
   }
}

#opacidade {
   -webkit-animation-name: opacidade;
   -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: 1;
   position: relative; 
}

/*Telas grandes*/
@media only screen and (min-width : 1380px)
{ p{
    font-size: 1.4em;    
  }
  h1{
    font-size: 3.3em;   
  }
  h2{
    font-size: 2.3em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
  }
  h3{
    font-size: 1.7em;
  }

  .ficons{
    height: 160px;
    margin-bottom: 50px;
  }

  .avatar{
	width: 480px;	
	}

  .sicons{
	  margin-top: 20px;
	  margin-bottom: 30px;
	  margin-left: 40px;
	  margin-right: 40px;
	  width: 130px;
	}


  #sobre{
    padding-top: 60px;
    padding-bottom: 140px;
  }
  #formacao{
    padding-top: 160px;
    padding-bottom: 160px;
  }
  #skills{
    padding-top: 160px;
    padding-bottom: 160px;
  }
  #jobs{
    padding-top: 160px;
    padding-bottom: 160px;    
  }
  #contato{
    padding-top: 145px;
    padding-bottom: 220px;
  }
}

/*telas mais comuns*/
@media only screen and (min-width : 1008px) and (max-width : 1379px)
{ p{
    font-size: 1.1em;    
  }
  h1{
    font-size: 3em;   
  }
  h2{
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
  }
  h3{
    font-size: 1.4;
  }

  .ficons{
    height: 80px;
    margin-bottom: 30px;
  }

  .avatar{
	width: 400px;	
	}

  .sicons{
  	margin-top: 10px;
  	margin-bottom: 30px;
  	margin-left: 20px;
  	margin-right: 20px;
  	width: 100px;
	}


  #sobre{
    padding-top: 40px;
    padding-bottom: 120px;
  }
  #formacao{
    padding-top: 130px;
    padding-bottom: 120px;
  }
  #skills{
    padding-top: 130px;
    padding-bottom: 120px;
  }
  #jobs{
    padding-top: 130px;
    padding-bottom: 120px;
  }
  #contato{
    padding-top: 130px;
    padding-bottom: 120px;
  }

}

/*tablet size*/
@media only screen and (min-width : 770px) and (max-width : 1007px)
{ p{
    font-size: 1em;    
  }
  h1{
    font-size: 2.5em;   
  }
  h2{
    font-size: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
  }
  h3{
    font-size: 1.2em;
  }

  
  .ficons{
    height: 60px;
    margin-bottom: 30px;
  }

  .avatar{
	width: 400px;	
	}

  .sicons{
  	margin-top: 15px;
  	margin-bottom: 30px;
  	margin-left: 20px;
  	margin-right: 25px;
  	width: 80px;
	}


  #sobre{
    padding-top: 40px;
    padding-bottom: 120px;
  }
  #formacao{
    padding-top: 130px;
    padding-bottom: 120px;
  }
  #skills{
    padding-top: 130px;
    padding-bottom: 120px;
  }
  #jobs{
    padding-top: 130px;
    padding-bottom: 120px;
  }
  #contato{
    padding-top: 130px;
    padding-bottom: 120px;
  }
}

/*small tablet size*/
@media only screen and (min-width : 641px) and (max-width : 769px)
{ p{
    font-size: 1em;    
  }
  h1{
    font-size: 2.2em;   
  }
  h2{
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
  }
  h3{
    font-size: 1.2em;
  }

  .aavatar{
  	padding-top: 20px;
  }

  .ficons{
    height: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .avatar{
	width: 200px;	
	}

  .sicons{
  	margin-top: 15px;
  	margin-bottom: 15px;
  	margin-left: 15px;
  	margin-right: 20px;
  	width: 80px;
	}


  #sobre{
    padding-top: 20px;
    padding-bottom: 100px;
  }
  #formacao{
    padding-top: 70px;
    padding-bottom: 100px;
  }
  #skills{
    padding-top: 110px;
    padding-bottom: 100px;
  }
  #jobs{
    padding-top: 110px;
    padding-bottom: 100px;
  }
  #contato{
    padding-top: 110px;
    padding-bottom: 100px;
  }
}

/*smart size*/
@media only screen and (max-width : 640px)
{ p{
    font-size: 1em;    
  }
  h1{
    font-size: 2.2em;   
  }
  h2{
    font-size: 1.2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
  }
  h3{
    font-size: 1.2em;
  }
 

  .navbar-toggler-icon{
  	width: 20px;
  }

  .navbar-custom .navbar-brand {
  	color: white;
  	font-size: 20px;
	}

  .aavatar{
  	padding-top: 20px;
  }

  .ficons{
    height: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .avatar{
	width: 200px;	
	}

  .sicons{
  	margin-top: 15px;
  	margin-bottom: 15px;
  	margin-left: 15px;
  	margin-right: 20px;
  	width: 80px;
	}

  .shadowtext{
  text-shadow: 1px 1px 1px black;  
  }


  #sobre{
    padding-top: 20px;
    padding-bottom: 70px;
  }
  #formacao{
    padding-top: 40px;
    padding-bottom: 70px;
  }
  #skills{
    padding-top: 80px;
    padding-bottom: 70px;
  }
  #jobs{
    padding-top: 80px;
    padding-bottom: 70px;
  }
  #contato{
    padding-top: 80px;
    padding-bottom: 70px;
  }
}
